* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.navigation-menu {
  display: flex;
  align-items: center;
}

.navigation-menu img {
  margin-top: 10px;
}

.navigation-menu ul {
  display: flex;
  list-style-type: none;
}

.navigation-menu ul li {
  padding: 0 15px;
}

.account-auth {
  display: flex;
  gap: 15px;
}
.hamburger-menu {
  display: none;
}

.account-button {
  padding: 5px;
  background: none;
  border: none;
  color: gray;
}

.account-button:hover {
  color: black;
}
.register {
  border: 2px solid gray;
  border-radius: 7px;
  cursor: pointer;
}
.register:hover {
  border: 2px solid black;
  border-radius: 7px;
  cursor: pointer;
}

.middle-page-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 690px;
}

.middle-page-content h1 {
  color: #141414;
  font-size: 72px;
}

.middle-page-content p {
  color: #696969;
  font-size: 18px;
  width: 70%;
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.column {
  width: 33%;
}

.left-side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 15%;
  padding: 10px;
}

.right-side-content {
  display: flex;
  justify-content: center;
}

.right-side-content img {
  width: 81.5%;
}

.upper-side-content {
  display: none;
}

main {
  margin-top: 5%;
  height: 100%;
}
.learn-more-button {
  width: 33%;
  padding: 17px 5px;
  background: #141414;
  color: #fff;
  border: 2px solid #141414;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 500px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .hamburger-menu {
    display: block;
  }
  .navigation-menu ul li {
    display: none;
  }
  .account-auth {
    display: none;
  }
  .middle-page-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 690px;
  }
  .right-side-content {
    display: none;
  }
  .upper-side-content {
    display: flex;
  }
  .upper-side-content img {
    width: 100%;
  }

  .left-side-content {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    width: 100%;
  }
  .middle-page-content h1 {
    color: #141414;
    font-size: 36px;
  }

  .middle-page-content p {
    color: #696969;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
  .learn-more-button {
    margin-left: auto;
    margin-right: auto;
  }
}
